[Desktop Entry]
Name=Filen
Exec=/home/tsugu/AppImages/filen.appimage --no-sandbox %U
TryExec=/home/tsugu/AppImages/filen.appimage
Icon=/home/tsugu/AppImages/.icons/filen.png
Terminal=false
Type=Application

StartupWMClass=Filen
X-AppImage-Version=2.0.24
Comment=Filen Desktop Client
Categories=Utility;

X-AppImage-Version=2.0.24